<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaymentX"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.merchant.FetchCustomerPIN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.MerchantPINVerifyPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.MerchantWithdrawCompleted"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.MerchantWithdraw"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.ReceiveCompleted"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.VerifyUserPIN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.Receive"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.MerchantMainScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.MerchantAccountInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.MerchantConfirmPIN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.MerchantCreateTransPIN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.AccountCreatedSuccessfully"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.MerchantOtpVerification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.merchant.MerchantPhoneNumberVerification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.Biometric"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.TickMarkAnimation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.PinVerifyPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.WithdrawCompleted"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.TopUpCompleted"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.Withdraw"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.TopUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.ConfirmPIN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.CreateTransPIN"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.OtpVerification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.Phonenumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.Display"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.auth.ScanId"
            android:exported="true"
            android:screenOrientation="portrait"> <!-- Set to true to allow NFC intents -->

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Meta-data specifying supported NFC technologies -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity
            android:name=".ui.merchant.TapIDToPay"
            android:exported="true"
            android:screenOrientation="portrait"> <!-- Set to true to allow NFC intents -->

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Meta-data specifying supported NFC technologies -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity
            android:name=".ui.auth.GoogleAuthActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>